.carousel {
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: 20px auto;

  .carousel-image-container {
    width: 100%;
    overflow: hidden;
    border-radius: 10px;

    .carousel-image {
      width: 100%;
      height: 500px;
      object-fit: cover;
      transition: 0.5s ease-in-out;
    }
  }

  .carousel-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 6rem;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    z-index: 10;

    &.left {
      left: 10px;
    }
    &.right {
      right: 10px;
    }
  }

  .carousel-counter {
    position: absolute;
    bottom: 10px;
    right: 50%;
    transform: translateX(50%);
    color: white;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
  }
}
