.footer {
  background: black;
  color: white;
  text-align: center;
  padding: 40px 0;

  img {
    width: 120px;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  footer img {
    width: 120px;
  }

  footer p {
    font-size: 12px;
    text-align: center;
  }
}
