.housing {
  width: 90%;
  margin: 20px auto;

  .housing-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 20px 0;

    .housing-info {
      flex: 1;
      margin-right: 20px;

      .housing-title {
        font-size: 28px;
        font-weight: 500; /* <--- Medium */
        margin-bottom: 5px;
        color: #ff6060;
      }

      .housing-location {
        font-size: 16px;

        margin-bottom: 10px;
      }

      .housing-tags {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;

        .tag {
          background-color: #ff6060;
          color: white;
          padding: 5px 10px;
          border-radius: 5px;
          font-size: 14px;
        }
      }
    }

    .housing-right {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 5px;

      .housing-host {
        display: flex;
        align-items: center;
        gap: 10px;

        .host-picture {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
        }

        .host-name {
          font-size: 16px;
        }
      }

      .housing-rating {
        display: flex;
        gap: 8px;

        .star {
          font-size: 24px;
          color: #e3e3e3; // gris par défaut
        }

        .star.filled {
          color: #ff6060; // rouge si filled
        }
      }
    }
  }

  .housing-collapses {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    gap: 20px;

    .collapse {
      flex: 1;
      margin-bottom: 0;
    }
  }
}

// Responsive mobile
@media (max-width: 768px) {
  .housing-header {
    flex-direction: column;

    .housing-info {
      margin-right: 0;
      margin-bottom: 15px;
    }

    .housing-right {
      width: 100%;
      flex-direction: row-reverse !important; // Toujours photo à droite, étoiles à gauche
      justify-content: space-between;
      align-items: center !important;
    }
  }

  .housing-collapses {
    flex-direction: column;
  }
}
